.row
  .small-12.columns
    = simple_form_for @site_configuration do |f|
      %ul#form-tabs.tabs{"data-tabs" => ""}
        %li.tabs-title.is-active
          %a{href: "#panel1", "aria-selected" => "true"} Name & Status
        %li.tabs-title
          %a{href: "#panel2"} Features

      .tabs-content{"data-tabs-content" => "form-tabs"}
        #panel1.tabs-panel.is-active
          .name_status_form= render "name_status_form", f: f
        #panel2.tabs-panel
          .features_form= render "features_form", f: f

      .actions
        = f.button :submit, "Save Changes", {class: "small"}
        = link_to "Discard", new_site_configuration_path, {class: "button small discard"}
